.email-verification {
  .info-icon {
    color: var(--gray-icons);
  }
  .btn.close {
    background: transparent;
    color: var(--warning-dark);
    padding: 0;
    font-size: var(--font-size-h4);
    opacity: 1;
  }
}
